<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookDAO">
	<insert id="insertBook">
	insert into book (bookcode, pdf_name, img_name, book_name, author, translator, publication_date, publisher, pages, isbn, location, memo, copies)
	values 
	(#{bookcode}, #{pdf_name}, #{img_name}, #{book_name}, #{author}, #{translator}, #{publication_date}, #{publisher}, #{pages}, #{isbn}, #{location}, #{memo}, #{copies})
	</insert>
	
	<update id="updateBook">
	update book
		set bookcode=#{bookcode}, pdf_name=#{pdf_name}, img_name=#{img_name}, book_name=#{book_name}, author=#{author}, translator=#{translator}, publication_date=#{publication_date}, publisher=#{publisher}, pages=#{pages}, isbn=#{isbn}, location=#{location}, memo=#{memo}, copies=#{copies}
		where id=#{id}
	</update>
	<delete id="deleteBook">
	delete from book where id=#{id}
	</delete>
	<select id="getBook" resultType="book">
	select * from book where id=#{id}
	</select>
	<select id="getBookList" resultType="book">
	select * from book order by id desc
	</select>
</mapper>